@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
  box-sizing: border-box;
}

header,
section {
  overflow-x: hidden;
}

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  background-color: white;
  --light-gray: rgba(255, 255, 255, 0.877);
}

header a {
  font-family: var(--Sniglet-font);
  font-size: 0.9em;
  color: whitesmoke;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  display: flex;
  
   
   justify-content: center; /* Center horizontally */
   align-items: center; /* Center vertically */


  height: 50px;
  padding-left: 8rem;
  
  
}
.logo {
   pointer-events: auto;
}

header .nav-link:hover {
  color: lightgrey;
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 90%;
}

header {
  background: #ff512f;
  /* fallback for old browsers */
  background: var(--bggradient);
}

header .container .col-md-7 {
  font-family: "Rubik", sans-serif;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}

.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}

/********** section 1 **************/

.section-1 {
  padding: 20vmin 0vmin;
}

.section-1 .row .col-md-6 .pray img {
  
  opacity: 0.8;
  width: 80%;
  border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -18vmin;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  font-family: var(--Rubik);
  z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}

/*  Section 2  */

.cover {
  width: 100%;
  height: 55vmin;
  background: url("../assets/pexels-photo-452738.jpg");
  background-position: -24rem -19rem;
  background-size: 150%;
  position: relative;
}

.cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.cover .content {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 19vmin;
}

.cover .content > h1 {
  font-family: var(--Patua);
  font-size: 6vmin;
  color: whitesmoke;
}

.cover .content > p {
  font-family: var(--Rubik);
  font-size: 2vmin;
  color: #e5e5e5;
}

.numbers .rect {
  position: relative;
  z-index: 1;
  background: white;
  width: 17rem;
  height: 12rem;
  padding-top: 3.5vmin;
  margin: 1rem;
  border-radius: 0.5em;
  box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}

.numbers {
  margin-top: -15vmin;
}

.numbers .rect h1 {
  font-size: 5rem;
  color: tomato;
}

.numbers .rect > p {
  font-family: var(--Patua);
}

.purchase > h1 {
  padding-top: 15vmin;
  padding-bottom: 0.1em;
  font-family: var(--Lobster);
}

.purchase > p {
  color: var(--light-black);
  font-size: 3vmin;
  padding-bottom: 10vmin;
}

.purchase .cards .card {
  width: 22rem;
  margin: 3vmin 3vmin;
}

.cards div {
  padding: 0;
  margin: 0;
}

.cards .title {
  background: rgba(208, 241, 241, 0.199);
  padding: 1.4em 2.5em;
  font-size: 2vmin;
}

.card .card-text {
  padding: 2.5rem 3rem;
  color: var(--light-black);
}

.card-body .pricing {
  background: rgba(0, 255, 255, 0.199);
  border-top-right-radius: 170px;
  border-top-left-radius: 170px;
}

.card-body .pricing > h1 {
  font-size: 10vmin;
  padding: 1em 0.5em;
}

/* Section 3 */

.section-3 {
  height: 70vmin;
  margin-top: 15vmin;
  background: var(--bggradient);
}

.section-3 .col-md-12 > h1 {
  padding: 2em 0 0.5em 0;
  color: whitesmoke;
  font-size: 6vmin;
}

.section-3 .col-md-12 > p {
  padding: 0 4em;
  padding-bottom: 2em;
  color: var(--light-gray);
  font-size: 3vmin;
}

.section-3 .desktop {
  background: rgb(255, 255, 255);
  display: inline-block;
  border-radius: 3em;
  padding: 2vmin 4.5vmin;
  margin: 1em;
}

.section-3 .desktop h3 {
  font-size: 4vmin;
}

.section-3 .desktop p {
  font-size: 2vmin;
}

/* Section Team */

.section-4 .container h1 {
  font-size: 6vmin;
  padding-top: 14vmin;
}

.section-4 .team {
  padding: 10vmin 4vmin;
}

.section-4 .card {
  width: 22em;
  margin-top: 10vmin;
}

.section-4 .card .card-text {
  padding: 0.5em;
}

.section-4 .card-body > a {
  font-size: 1.5em;
}

.section-4 .carousel-item {
  padding-left: 3rem;
}

.border-radius {
  border-radius: 340px;
  width: 60%;
}

footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p > span {
  color: #000000;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: #ff0073;
}

/* It is Adjacent sibling combinator */

footer .column i + i {
  padding: 0 0.5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}

/* Style for the Consultation Form */
.consult-form {
  background-color: #f8f8f8;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center; /* Left-align the form content */
  width: 75%; /* Set the width to 75% of the page */
  margin: 0 auto; /* Center align the form horizontally */
   /* Ensure padding and border are included in width */
}

.consult-form input[type="text"] {
  width: 200px; /* Adjust the width as needed */
  height: 30



}

.consult-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.consult-form label {
  display: block;
  margin-bottom: 10px;
}

.consult-form input[type="text"],
.consult-form input[type="email"],
.consult-form input[type="tel"],
.consult-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.consult-form textarea {
  resize: vertical;
}

.consult-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.consult-form button:hover {
  background-color: #0056b3;
}



  body {
    margin: 0;
    padding: 0;
  }

  .background {
    background-image: url('../assets/backgorund.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set to viewport height for full-screen coverage */
  }

  .transparent-box {
    position: absolute;
    top: 60%;
    left: 25%; /* Adjust the left position as needed */
    transform: translate(-60%, -60%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    width: 400px; /* Adjust the width to make it smaller */
    height: 350px; /* Set the same height to make it a square */
    text-align: center;
  }


  .transparent-box h6,
  .transparent-box h1,
  .transparent-box p {
    font-size: 16px; /* Adjust the font size as needed */
    margin-top: -35px; /* Adjust the negative margin to move text up */

  }